<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>


<div class="container">
    <div class="row"  th:if="${not #lists.isEmpty(orders)}">
        <div  class="col-xs-12 col-sm-9">
            <div class="row">
                <div id="grid" th:each="order :${orders}" class="my-shuffle-container">

                    <div class="grid__brick col-xs-6 col-sm-4">
                        <div class="grid__brick-inner">
                            <div class="table-center-wrap">
                                <div class="table-center">

                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title" th:text="${order.name}"></h4>
                                            <p class="card-text"  th:text="${order.details}"></p>

                                            <form action="#" th:action="@{changeStatus}" th:object="${order}" method="post">
                                                <button type="submit" class="btn btn-primary"  th:text="${order.status}"></button>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-1 my-sizer-element"></div>
                </div>

            </div>
        </div>

    </div>
</div>


</body>
</html>